@media(min-width:1920px){
    .caro01{
        width: auto;
        height: 200px;
        position: absolute;
        z-index: 5;
        top: 250px;
        right: 0;
      }
}
@media(max-width:1700px){
       
}
@media (max-width:1368px){
}

@media (max-width:1024px){
	.caro01 {
        top: 80px;
    }
}

@media (max-width:992px){
	
}

@media (max-width:768px){
    nav{
        background: #304251;
        height: 75px;
    }
    .navbar-toggler{
        position: absolute;
        width: 60px;
        height: 60px;
        right: 0;
        top: 8px;
        z-index: 105;
    }
    .buttonNav {
        color: #fff;
        display: block;
        width: 100%;
        height: 37px;
        margin: 15px 0;
        text-align: center;
        border-bottom: 1px solid #ffffff;
    }
    .navItemes {
        width: 100%;
        padding: 20px;
        background: #304251;
        margin: 0;
    }
    .navbar-toggler-icon {
        display: block;
        width: 100%;
        margin: 0;
        height: 4px;
        background: #fff;
        margin: 0 0 5px 0;
    }
    .logo {
        margin: 0 0 0 20px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        height: 75px;
        position: relative;
    }
    .space {
        height: 30px;
    }
    .texCent{
        text-align: center;
    }
    h5 {
        font-size: 1rem;
    }
    h3{
        font-size: 1.3rem;
    }
    .slider{
        position: relative;
        height: 450px;
    }
    .bgCont01 {
        top: 71px;
    }
    .caro01 {
        height: 200px;
        top: 180px;
        padding: 15px;
    }
    .contenido02 {
        top: 0;
    }
    .bloque {
        height: auto;
        text-align: center;
        display: block;
        margin: 10px 0;
    }
    .bgVerde h1{
        margin: 0 auto;
    }
    .grafica {
        margin: 10% 5%;
    }
    .denivel {
        top: 0;
    }
    .modifiBloque02 {
        height: 265px;
        padding: 15px;
    }
    .modifiBloque03 {
        height: 310px;
    }
    .usImage {
        width: 70%;
    }
    .imgCasos {
        width: 48%;
        margin: 0 1%;
    }
    .contenido08 {
        background:#304251;
        background-size: cover;
        width: 100%;
        height: autox;
    }
    .conteContacto {
        width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
    }
    .mas {
        display: none;
    }
    
    
}

@media (max-width:540px){
	.caro01 {
        height: auto;
        top: 329px;
    }
}

@media (max-width:500px){ 
    .modifiBloque02 {
        height: auto;
    }
	.modifiBloque03 {
        height: auto;
    }
    .grafica {
        width: 40%;
        margin: 10% auto;
    }
    .h1, h1 {
        font-size: 1.7rem;
    }
    .caro01 {
        top: 270px;
    }
}

@media (max-width:321px){ 
	.modifiBloque02 {
        height: auto;
        padding: 15px;
    }
    .modifiBloque03 {
        height: auto;
    }
    .caro01 {
        top: 230px;
    }
    .slider {
        height: 440px;
    }
}